.App {
  display: flex;
  flex-direction: column;
  padding: 5% 20%;
}

.formContainer{
  display: flex;
  padding: 10px 40px;
  flex-direction: column;
  text-align: left;
  background-color: antiquewhite;

}

.appForm{
  display: flex;
  flex-direction: column;
}

.appForm input,
.appForm select,
.appForm textarea{
  margin-bottom: 1rem;
}
